{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "plugins": [
    "mocha",
    "import"
  ],
  "rules": {
    "import/extensions": [
      "error",
      "always"
    ],
    "mocha/no-skipped-tests": "error",
    "mocha/no-exclusive-tests": "error",
    "node/no-unpublished-import": [
      "error",
      {
        "allowModules": [
          "slow-stream",
          "@rollup/plugin-commonjs"
        ]
      }
    ]
  }
}
